<script>
  $(document).ready(function(){
    failCount = 0;
    flash = '';
    var idleInterval = setInterval(timerIncrement, 5000); // 5 seconds
    var beerCounter = setInterval(beerIncrement, 5000); // 5 seconds

    function beerIncrement() {
      var day = new Date().getDay();
      var hour = new Date().getHours();
      var minute = new Date().getMinutes();
      if (day == 4 && hour == 16 && minute == 0){
        clearInterval(beerCounter);
        setTimeout(function(){
          var beerCounter = setInterval(beerIncrement, 5000); // 5 seconds
        },60001);
        $('#beer').prop('volume', 0.3); // Not so loud
        $('#beer')[0].play();
      }
    }


    function timerIncrement() {
      var hour = new Date().getHours();

      if (hour > 7 && hour < 22) {
        $.ajax({
          url: '/ping',
          success: function(data) {
            if (data.success) {
              if (data.fixed){
                killFlash();
                $('body').css('background-color','green');
                $('h1').text("Last Fixed By:");
                $('#breaker').text(data.name); 
              } else {
                $('body').css('background-color','red');
                $('h1').text("Last Build Broken By:");
                $('#repoKey').text(data.repo);
                $('#breaker').text(data.name);
                if (data.speech && data.name != "No One") {
                  flashMessage();
                  failCount += 1;
                  youBastard(data.speech);
                  if (failCount == 10){
                    responsiveVoice.speak(data.speech, 'US English Female', {pitch: 2, volume: 0.3});
                    failCount = 0;
                  } else {
                    responsiveVoice.speak(data.speech, 'US English Female', {volume: 0.3});
                  }
                }
              }
            }
          }
        });
      }
    }
  });

  function flashMessage() {
    flash = setInterval(function(){
      $('body').hide();
      setTimeout(function(){
        $('body').show();
      },500);
    },1000)
  }

  function killFlash() {
    clearInterval(flash);
    $('body').show();
  }

  function youBastard(speech){
    if (speech.indexOf("Bastard") > -1) {
      setTimeout(function(){
        $('#bastard').prop('volume', 0.3); // Not so loud
        $('#bastard')[0].play();
      }, 5000);
    }
  }
</script>
<h1>Last Build Broken By:</h1>
<h0 id='breaker'><%= @last %></h0>
<h0 id='repoKey'><%= @repo %></h0>
<style>
  body{background-color: green}
  h1{font-size:80px;color:white}
  h0{
    color:white;
    display: block;
    font-size: 200px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
</style>
<audio id="beer">
  <source src="<%= asset_path('badbeer.mp3') %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<audio id="bastard">
  <source src="<%= asset_path('you_bastard.mp3') %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>