<script>
  $(document).ready(function(){
    var idleInterval = setInterval(timerIncrement, 5000); // 5 seconds
    var beerCounter = setInterval(beerIncrement, 5000); // 5 seconds

    function beerIncrement() {
      var day = new Date().getDay();
      var hour = new Date().getHours();
      var minute = new Date().getMinutes();
      if (day == 4 && hour == 16 && minute == 0){
        clearInterval(beerCounter);
        setTimeout(function(){
          var beerCounter = setInterval(beerIncrement, 5000); // 5 seconds
        },60001);
        $('audio')[0].play();
      }
    }


    function timerIncrement() {
      var failCount = 0;
      var hour = new Date().getHours();

      if (hour > 7 && hour < 22) {
        $.ajax({
          url: '/ping',
          success: function(data) {
            if (data.success) {
              if (data.fixed){
                $('body').css('background-color','green');
                $('h1').text("Last Fixed By:");
                $('#breaker').text(data.name); 
              } else {
                $('body').css('background-color','red');
                $('h1').text("Last Build Broken By:");
                $('#breaker').text(data.name);
                if (data.speech && data.name != "No One") {
                  failCount += 1;
                  if (failCount == 10){
                    responsiveVoice.speak(data.speech, 'US English Female', {pitch: 2});
                    failCount = 0;
                  } else {
                    responsiveVoice.speak(data.speech, 'US English Female');
                  }
                }
              }
            }
          }
        });
      }
    }
  });
</script>
<h1>Last Build Broken By:</h1>
<h0 id='breaker'><%= @last %></h0>
<style>
  body{background-color: green}
  h1{font-size:80px;color:white}
  h0{
    color:white;
    display: block;
    font-size: 200px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
</style>
<audio>
  <source src="<%= asset_path('badbeer.mp3') %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
